<div id="user_files">
<h1>Uploaded</h1>
<%= render @user_files %>
</div>


<h1>New File Upload</h1>
<%= form_for @user_file, :remote => true, :html => { :multipart => true }  do |form| %>
<div class="field">
<p>Title:<%= form.text_field :title %></p>
<p>Description:<%= form.text_field :description %></p>

<p>Upload File:<%= form.file_field :attachment %></p>
</div>
<div class="actions">
<%= form.submit 'Upload' %>
</div>
<% end %>

